@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 40px;
    margin: 10px;
}

a {
    color: #1F3A93;
    text-decoration: none;
}

.logo {
    width: 320px;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.sublogo {
    text-align: center;
    margin-bottom: 30px;
}

.team {
    text-align: center;
    margin-bottom: 30px;
}

.about {
    position: absolute;
    width: 500px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    top: 50%;
    left: calc(50% - 250px);
    transform: translateY(-50%);
}

.dud {
  color: #757575;
}

#flag {
    position: absolute;
    top: 22px;
    left: 0px;
}

#flag div {
    width: 5px;
    height: 6px;
    transition: width 0.4s ease;
}

#flag:hover div {
    width: 25px;
}

.blue-flag {
    background-color: blue;
}

.black-flag {
    background-color: black;
}

.white-flag {
    background-color: #eee;
}

#background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .about {
        position: relative;
        width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        top: 50%;
        margin-top: 200px;
        left: auto;
        transform: none;
        font-size: 13px;
    }    
  }