@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto Mono', monospace;
}

html,
body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 30px;
    margin: 10px;
}

.logo {
    margin: 20% auto 100px;
    width: 100%;
    text-align: center;
    font-weight: 400;
}

.about {
    text-align: center;
}

.dud {
  color: #757575;
}

#flag {
    position: absolute;
    top: 22px;
    left: 0px;
}

#flag div {
    width: 5px;
    height: 6px;
    transition: width 0.4s ease;
}

#flag:hover div {
    width: 25px;
}

.blue-flag {
    background-color: blue;
}

.black-flag {
    background-color: black;
}

.white-flag {
    background-color: #eee;
}